* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: white;
}

.container {
  height: 100vh;
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 36px 40px;
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 46px;
}

.sign {
  margin-left: 70px;
}

.sign img {
  width: 16px;
}

.menu a {
  margin: 0 30px;
}
